<%- include('partials/head.ejs') %>

<body>
  <%- include('partials/header.ejs') %>

  <main>
    <div>
      <h1><%= product.name %></h1>
      <hr>
      <h3><%= product.title %></h3>
      <form action="/delete-product" method="POST">
        <button class="btn">Delete</button>
        <input type="hidden" name="productId" value="<%= product.id %>" />
      </form>
      
      <form action="/cart" method="POST">
        <button class="btn">Add to Cart</button>
        <input type="hidden" name="productId" value="<%= product.id %>" />
      </form>
    </div>
  </main>
</body>